<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Techkriti - ">
    <link rel="shortcut icon" href="/img/favico.ico">


    <title>Techkriti</title>
</head>
<body>
<center><h1>Your Profile Has Been Activated.<br> You will be redirected very soon. <br>
In case you are not rediredcted then click here <a href="portal.techkriti.org">Click here</a></h1></center>
</div>
 <script type="text/javascript">
document.setInterval((function(){
    document.location = '/login';
})();, 5000)
 </script>
</body>
</html>

