<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TECHKRITI - ">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>TECHKRITI</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="/css/bootstrap.css" rel="stylesheet"> -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">
    <link href="/css/flat-ui.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
    <link href="/css/toastr.min.css" rel="stylesheet">

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">&nbsp;TECHKRITI</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/app">Dashboard</a>
                    </li>
                    <li>
                        <a id="login-button" href="/user/logout">
                            <button type="button" class="btn btn-primary">Logout</button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <h1 class="page-header">
            Dashboard
        </h1>
        <br>Welcome Admin
        <br>
        <input type="text" id="techid" placeholder="Get Info for a TECHID" />
        <button onclick="Techinfo()">Get info of a TECHID</button>

    </div>
    <select id="mevent" name="game">
        <option value="">Select a Event..</option>
        <option value="29 States">29 States</option>
        <option value="AISRC">AISRC</option>
        <option value="Astro Quiz">Astro Quiz</option>
        <option value="Astro Treasure">Astro Treasure</option>
        <option value="Be the Tycoon">Be the Tycoon</option>
        <option value="Battlecity">Battlecity</option>
        <option value="Battlefield">Battlefield</option>
        <option value="Bridge Design Challenge">Bridge Design Challenge</option>
        <option value="concatenate">Concatenate</option>
        <option value="Chaos">Chaos</option>
        <option value="Crime Run">Crime Run</option>
        <option value="crypto">Crypto</option>
        <option value="Cruise Control">Cruise Control</option>
        <option value="Design 3D">Design 3D (Previously Objectified)</option>
        <option value="Do your due">Do your due</option>
        <option value="Electrade">Electrade</option>
        <option value="electromania">ElectroMania</option>
        <option value="Embedded">Embedded</option>
        <option value="Finquest">Finquest</option>
        <option value="FPGA">FPGA</option>
        <option value="Hoverush">Hoverush</option>
        <option value="Nut Cracker">Nut Cracker ( Previously Scimatex)</option>
        <option value="Iarc">Iarc</option>
        <option value="IDEAS">IDEAS</option>
        <option value="IHPC">IHPC</option>
        <option value="Impulse">Impulse</option>
        <option value="Innovation in Manufactruning Processes">Innovation in Manufactruning Processes</option>
        <option value="IOPC">IOPC</option>
        <option value="IORC">IORC</option>
        <option value="Manoeuvre">Manoeuvre</option>
        <option value="Mark-Ops">Mark-Ops</option>
        <option value="Marketing Villa">Marketing Villa</option>
        <option value="Mix Bowl Quiz">Mix Bowl Quiz</option>
        <option value="Multirover">Multirover</option>
        <option value="Scientoon">Scientoon</option>
        <option value="Scimatex">Scimatex</option>
        <option value="Shuffle">Shuffle</option>
        <option value="Skysparks">Skysparks</option>
        <option value="Soccon">Soccon</option>
        <option value="Stocksim">Stocksim</option>
        <option value="TGP">TechKriti Grand Prix</option>
        <option value="Wild soccer">Wild soccer</option>
        <option value="What's Up">What's Up</option>
        <option value="Zonals">Zonals</option>
        <option value="Objectified">Objectified</option>
    </select>
    <button onclick="sortevent()">Sort with event</button>
    <div>
        <table id="teams" style="border: 1px solid #000; margin: 10px;" border="1">

        </table>
    </div>
    <div class="modal fade" id="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Member Details</h4>
                </div>
                <div class="modal-body">
                    <table style="border: 1px solid #000; margin: 10px;" border="1">
                        <tr>
                            <td>name</td>
                            <td id="name"></td>
                        </tr>
                        <tr>
                            <td>number</td>
                            <td id="number">none</td>
                        </tr>
                        <tr>
                            <td>college</td>
                            <td id="college">none</td>
                        </tr>
                        <tr>
                            <td>email</td>
                            <td id="email">none</td>
                        </tr>
                        <tr>
                            <td>alternatenumber</td>
                            <td id="alternatenumber">none</td>
                        </tr>
                        <tr>
                            <td>ambassador</td>
                            <td id="ambassador">none</td>
                        </tr>
                        <tr>
                            <td>sex</td>
                            <td id="sex">none</td>
                        </tr>
                        <tr>
                            <td>branch</td>
                            <td id="branch">none</td>
                        </tr>
                        <tr>
                            <td>bookingId</td>
                            <td id="bookingid">none</td>
                        </tr>
                        <tr>
                            <td>year</td>
                            <td id="year">none</td>
                        </tr>
                        <tr>
                            <td>Tech_id</td>
                            <td id="techid">none</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div>
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/showadminteams.js"></script>
        <script src="/js/toastr.min.js"></script>

</body>

</html>