<!DOCTYPE html>
<html class=" -moz-"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <title>Techkriti</title>
    
</head>

<link rel="stylesheet" type="text/css" href="res/style.css">
<style type="text/css">
  @import url(http://fonts.googleapis.com/css?family=Gabriela|Dosis:200);

body {
  font-family: "Vidaloka", serif;
  font-smoothing: antialiased;
  font-weight: normal;
  background: #151618;
  color: #FFF;
  margin: 0;
}
</style>
  <body>

    <div id="container" class="container">

      <div id="output" class="container">
      </div>
      <div id="vignette" class="overlay vignette">
      <nav>
  <ul>
    <li>
      <a href="#">Back to Site</a>
    </li>
    <li>
      <a href="#">Login</a>
    <li>
      <a href="#">Sign Up</a>
    </li>
  </ul>
</nav>
      </div>
      <div class="container"><br>
        <img id="logo" src="/images/Techkriti.png" />
        <h2 class="form-signin-heading">Welcome to Techkriti Registration Portal</h2>
</div>
      <div id="noise" class="overlay noise">
      </div>
      <div id="ui" class="wrapper" ><h2  class ="iglass" > Login </h2>
  <div class ="glass">User Name <input type="text" class ="iglass" ><br><br> Password <input type="password" class ="iglass">
  </div>
      </div>
    </div>
    <div id="footer"><b>Contact Details</b><br>
Contect Details</div>
    <script src="res/prefixfree.js"></script>
    <script src="res/dat.js"></script>
    <script src="res/fss.js"></script>
    <script src="res/example.js"></script>

</body></html>