<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Techkriti - ">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>

    <title>Techkriti</title>
    
        <!-- Base Css Files -->
        <link href="assets/libs/jqueryui/ui-lightness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
        <link href="assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="assets/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="assets/libs/fontello/css/fontello.css" rel="stylesheet" />
        <link href="assets/libs/animate-css/animate.min.css" rel="stylesheet" />
        <link href="assets/libs/nifty-modal/css/component.css" rel="stylesheet" />
        <link href="assets/libs/magnific-popup/magnific-popup.css" rel="stylesheet" /> 
        <link href="assets/libs/ios7-switch/ios7-switch.css" rel="stylesheet" /> 
            <link href="/css/toastr.min.css" rel="stylesheet">
        <link href="assets/libs/pace/pace.css" rel="stylesheet" />
        <link href="assets/libs/sortable/sortable-theme-bootstrap.css" rel="stylesheet" />
        <link href="assets/libs/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
        <link href="assets/libs/jquery-icheck/skins/all.css" rel="stylesheet" />
        <!-- Code Highlighter for Demo -->
        <link href="assets/libs/prettify/github.css" rel="stylesheet" />
        
                <!-- Extra CSS Libraries Start -->
                <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
                <!-- Extra CSS Libraries End -->
        <link href="assets/css/style-responsive.css" rel="stylesheet" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="assets/img/favicon.ico">
            </head>
    <body class="fixed-left login-page"> 
  <!-- Begin page -->
  <div class="container">
    <div class="full-content-center">
      <p class="text-center"><a href="login.html#"><img src="/img/techkritifinallogo.png" alt="Logo" style="display: block;margin-left: auto;margin-right: auto;width:50%;min-width:350px;height:30%;line-height:100%;" ></a></p>
      <div class="login-wrap animated flipInX">
        <div class="login-block">
          <img src="img/default-user.png" class="img-circle not-logged-avatar">
            <div class="form-group login-input">
            <i class="fa fa-user overlay"></i>
            <input id = "email" type="text" class="form-control text-input" placeholder="Email" name="email" required>
            </div>
            <div class="form-group login-input">
            <input id = "password" type="password" class="form-control text-input" placeholder="********" name="password" required>
            <div class="checkbox"><label class=""><div class="icheckbox_square-aero" aria-checked="false" aria-disabled="false" style="position: relative;"><input id="rememberme" name="rememberme" type="checkbox" class="form-control" style="position: absolute; top: -20%; left: -20%; display: block; width: 110%; height: 110%; margin: 0px; padding: 0px; border: 0px;background: rgb(255, 255, 255);"></div><strong>Remember Me</a></strong></label></div>
            <div class="row">
              <div class="col-sm-6">
              <button type="submit" class="btn btn-success btn-block" id= "loginbutton" type="button">LOGIN</button>
              </div>
              <div class="col-sm-6">
              <a href="/signup" class="btn btn-default btn-block">Register</a>
              </div>
            </div><br>            
            <div class="row">
             <div class="col-sm-12">
              <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false" scope="public_profile,email" onlogin="checkLoginState();"></div>
              </div>
            </div>
        </div>
      </div>
      
    </div>
  </div>
  <script>
    var resizefunc = [];
  </script>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="assets/libs/jquery/jquery-1.11.1.min.js"></script>
  <script src="assets/libs/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/libs/jqueryui/jquery-ui-1.10.4.custom.min.js"></script>
  <script src="assets/libs/jquery-ui-touch/jquery.ui.touch-punch.min.js"></script>
  <script src="assets/libs/jquery-detectmobile/detect.js"></script>
  <script src="assets/libs/jquery-animate-numbers/jquery.animateNumbers.js"></script>
  <script src="assets/libs/ios7-switch/ios7.switch.js"></script>
  <script src="assets/libs/fastclick/fastclick.js"></script>
  <script src="assets/libs/jquery-blockui/jquery.blockUI.js"></script>
  <script src="assets/libs/bootstrap-bootbox/bootbox.min.js"></script>
  <script src="assets/libs/jquery-slimscroll/jquery.slimscroll.js"></script>
  <script src="assets/libs/jquery-sparkline/jquery-sparkline.js"></script>
  <script src="assets/libs/nifty-modal/js/classie.js"></script>
  <script src="assets/libs/nifty-modal/js/modalEffects.js"></script>
  <script src="assets/libs/sortable/sortable.min.js"></script>
  <script src="assets/libs/bootstrap-fileinput/bootstrap.file-input.js"></script>
  <script src="assets/libs/bootstrap-select/bootstrap-select.min.js"></script>
  <script src="assets/libs/bootstrap-select2/select2.min.js"></script>
  <script src="assets/libs/magnific-popup/jquery.magnific-popup.min.js"></script> 
  <script src="assets/libs/pace/pace.min.js"></script>
  <script src="assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
  <script src="assets/libs/jquery-icheck/icheck.min.js"></script>

  <!-- Demo Specific JS Libraries -->
  <script src="assets/libs/prettify/prettify.js"></script>

  <script src="assets/js/init.js"></script>
    <div id='status'></div>
    </div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/form.js"></script>
    <script src="/js/toastr.min.js"></script>
    <script type="text/javascript">
   (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
        
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '664781020306171',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.1' // use version 2.1
  });
   /* FB.getLoginStatus(function(response) {
          localStorage.setItem('token',response.authResponse.accessToken);
    statusChangeCallback(response);
  });*/
}



 function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    if(response.status == 'connected'){
        localStorage.setItem('token',response.authResponse.accessToken)
        localStorage.setItem('fpic',response.authResponse.userID)
    }
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }
    function testAPI() {
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name, response);
                localStorage.setItem('fname',response.name);
                localStorage.setItem('firstname',response.first_name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
        var email = response.email;
        if(email.length){email = email[0]}; //In case of multiple emails being sent
                    $.ajax({
              type: "POST",
              url: "user/fb",
                contentType: 'application/json; charset=utf-8',
              data: JSON.stringify({ name: response.name, email: response.email, id: response.id, token: localStorage.token  })
            })
              .done(function( msg ) {
                console.log(msg);
                if(msg.flashes['success']['type'] == 'sucess' || msg.flashes['flashes']['success']['type'] == 'sucess'){
                  document.location = '/profile'
                }
              });
   });
  }
function checkLoginState() {
  console.log('checkLoginState');
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

    </script>
</body>

</html>