<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TECHKRITI - ">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>TECHKRITI</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="/css/bootstrap.css" rel="stylesheet"> -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">
    <link href="/css/flat-ui.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
        <link href="/css/toastr.min.css" rel="stylesheet">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
       <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">&nbsp;TECHKRITI</a>
            </div>
                
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/app">Dashboard</a>
                    </li>
                    <li><a id="login-button" href="/user/logout">
                            <button type="button" class="btn btn-primary">Logout</button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="modal" style="position:fixed;display:none;top:50px;background:#ecf0f1;padding:20px">
        <div>
            <p>
                <table style="border: 1px solid #000" border="1">
                    <tr><td>id</td><td id="id">none</td></tr>
                    <tr><td>name</td><td id="name"></td></tr>
                    <tr><td>number</td><td id="number">none</td></tr>
                    <tr><td>college</td><td id="college">none</td></tr>
                    <tr><td>email</td><td id="email">none</td></tr>
                    <tr><td>alternatenumber</td><td id="alternatenumber">none</td></tr>
                    <!-- <tr><td>Contact no.</td><td id="contact">none</td></tr> -->
                    <tr><td>ambassador</td><td id="ambassador">none</td></tr>
                    <tr><td>sex</td><td id="sex">none</td></tr>
                    <tr><td>branch</td><td id="branch">none</td></tr>
                    <tr><td>bookingId</td><td id="bookingid">none</td></tr>
                    <tr><td>year</td><td id="year">none</td></tr>
                    <tr><td>Tech_id</td><td id="techid">none</td></tr>
                </table>            
            </p>
        </div>
    <div>
    <h1 class="page-header">
        Dashboard
    </h1>
                <center><h3>  Welcome Managers</h3></center>
        <center><h5>You can leave a comment to a particular team and it will be visible in their dashboard.</h5></center>


 
    <div >            <table id = "teams" style="border: 1px solid #000" border="1">
  
</table></div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/showmanagerteams.js"></script>
    <script src="/js/toastr.min.js"></script>
    <script type="text/javascript">
        var array = document.getElementsByClassName('linker');
        var array1 = document.getElementsByClassName('linked');
        function myf(anchor_tag){
            var idx = array.indexOf(anchor_tag);
            var url = array1[idx].href;
            $('#modal').display = "block";
        
        var x = $.get( url, function( data ) {
              $( ".result" ).html( data );
            });
        var y = x.responseText;
        var json = JSON.parse(y);
        json = json.success;
        $('#id').innerHTML = json.id;
        $('#name').innerHTML = json.name;
        $('#number').innerHTML = json.number;
        $('#college').innerHTML = json.college;
        $('#email').innerHTML = json.email;
        $('#alternatenumber').innerHTML = json.alternatenumber;
        $('#ambassador').innerHTML = json.ambassador;
        $('#sex').innerHTML = json.sex;
        $('#branch').innerHTML = json.branch;
        $('#bookingid').innerHTML = json.bookingid;
        $('#year').innerHTML = json.year;
        $('#techid').innerHTML = json.techid;
    }
    </script>
</body>

</html>
