<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Techkriti - ">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Techkriti</title>

     <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="Techkriti - ">

        <!-- Base Css Files -->
        <link href="/assets/libs/jqueryui/ui-lightness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
        <link href="/assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/assets/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/assets/libs/fontello/css/fontello.css" rel="stylesheet" />
        <link href="/assets/libs/animate-css/animate.min.css" rel="stylesheet" />
        <link href="/assets/libs/nifty-modal/css/component.css" rel="stylesheet" />
        <link href="/assets/libs/magnific-popup/magnific-popup.css" rel="stylesheet" /> 
        <link href="/assets/libs/ios7-switch/ios7-switch.css" rel="stylesheet" /> 
        <link href="/assets/libs/pace/pace.css" rel="stylesheet" />
        <link href="/assets/libs/jquery-icheck/skins/all.css" rel="stylesheet" />
            <link href="/css/toastr.min.css" rel="stylesheet">
        <!-- Code Highlighter for Demo -->
        <link href="/assets/libs/prettify/github.css" rel="stylesheet" />
                <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
                <!-- Extra CSS Libraries End -->
        <link href="/assets/css/style-responsive.css" rel="stylesheet" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="/assets/img/favicon.ico">
        <link rel="apple-touch-icon" href="http://hubancreative.com/projects/templates/coco/corporate//assets/img/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="http://hubancreative.com/projects/templates/coco/corporate//assets/img/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="http://hubancreative.com/projects/templates/coco/corporate//assets/img/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="http://hubancreative.com/projects/templates/coco/corporate//assets/img/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="http://hubancreative.com/projects/templates/coco/corporate//assets/img/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="http://hubancreative.com/projects/templates/coco/corporate//assets/img/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="http://hubancreative.com/projects/templates/coco/corporate//assets/img/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="http://hubancreative.com/projects/templates/coco/corporate//assets/img/apple-touch-icon-152x152.png" />
    </head>
 <body class="fixed-left">
        
    <!-- Modal Logout -->
    <div class="md-modal md-just-me" id="logout-modal">
        <div class="md-content">
            <h3><strong>Logout</strong> Confirmation</h3>
            <div>
                <p class="text-center">Are you sure want to logout from this awesome system?</p>
                <p class="text-center">
                <button class="btn btn-danger md-close">Nope!</button>
                <a href="/user/logout" class="btn btn-success md-close">Yeah, I'm sure</a>
                </p>
            </div>
        </div>
    </div>        <!-- Modal End -->    
    <!-- Begin page -->
    <div id="wrapper">
        
<!-- Top Bar Start -->
<div class="topbar">
    <div class="topbar-left">
        <div class="logo">
            <h1><a style="color:white;">TechKriti</a></h1>
        </div>
        <button class="button-menu-mobile open-left">
        <i class="fa fa-bars"></i>
        </button>
    </div>
    <!-- Button mobile view to collapse sidebar menu -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-collapse2">
                <ul class="nav navbar-nav navbar-right top-navbar">
                    <li class="dropdown iconify ">
                        <a href="/app" class="dropdown-toggle"><b>Dashboard</b></a>
                    </li>
                    <li class="dropdown iconify ">
                        <a href="/register_event" class="dropdown-toggle"><b>Register for a event</b></a>
                    </li>
                    <li class="dropdown iconify ">
                        <a href="/showteam" class="dropdown-toggle"><b>Your Teams</b></a>
                    </li>
                    <li class="dropdown iconify ">
                        <a href="/profile" class="dropdown-toggle">Profile</a>
                    </li>
                    <li class="dropdown topbar-profile" id="user-info">
                        <a  class="dropdown-toggle" data-toggle="dropdown"><span class="rounded-image topbar-profile-image"><img src="img/default-user.png" id="top-pic"></span> <strong id="top-name">User</strong> <i class="fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="">My Profile</a></li>
                            <li class="divider"></li>
                            <li><a href=""><i class="icon-help-2"></i> Help</a></li>
                            <li><a class="md-trigger" data-modal="logout-modal"><i class="icon-logout-1"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<!-- Top Bar End -->
            <!-- Left Sidebar Start -->
        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">
                <!--- Profile -->
                <div class="profile-info">
                    <div class="col-xs-4">
                      <a href="http://hubancreative.com/projects/templates/coco/corporate/profile.html" class="rounded-image profile-image"><img src="img/default-user.png" id="side-pic"></a>
                    </div>
                    <div class="col-xs-8">
                        <div class="profile-text">Welcome <b id="side-name">User</b></div>
                        <div class="profile-buttons">
                          <a href="javascript:;"><i class="fa fa-envelope-o pulse"></i></a>
                          <a href="connect" class="open-right"><i class="fa fa-comments"></i></a>
                          <a href="/user/logout" title="Sign Out"><i class="fa fa-power-off text-red-1"></i></a>
                        </div>
                    </div>
                </div>
                <!--- Divider -->
                <div class="clearfix"></div>
                <hr class="divider" />
                <div class="clearfix"></div>
                <!--- Divider -->
               
            <div class="clearfix"></div>
            <div class="clearfix"></div><br><br><br>
        </div>
        </div>
        <!-- Left Sidebar End -->          

    <div class="content-page content">
        <h1 class="page-header">
            Register for a Sport
        </h1><div id ="maincontent">
{{ if .Status }}
Your Profile is Complete . You can create a team.<br>
<table>
<tr><td width="150px">Team Name</td><td><input type="text" id="teamname" name="name"></td></tr>

<tr><td width="300px">Event</td>

      
    <td><select id="subject" name="game">
        <option value="">Select a Event..</option>
        <option value="Dummy">Dummy</option>
        <option value="Wild Soccer">Wild Soccer</option>
        <option value="Quest For The Rest">Quest For The Rest</option>
        <option value="iARC">iARC</option>
        <option value="Robo Pirates">Robo Pirates</option>
        <option value="Battlefield">Battlefield</option>
        <option value="StockSim">StockSim</option>
        <option value="IDEAS">IDEAS</option>
        <option value="Richie Rich">Richie Rich</option>
        <option value="Marketing Villa">Marketing Villa</option>
        <option value="Electromania">Electromania</option>
        <option value="Embedded">Embedded</option>
        <option value="FPGA">FPGA</option>
        <option value="Annontrix">Annontrix</option>
        <option value="TGP (Techkriti Grand Prix)">TGP</option>
        <option value="Concatenate">Concatenate</option>
        <option value="Tremor">Tremor</option>
        <option value="Bridge Design Challenge">Bridge Design Challenge</option>
        <option value="Skysparks">Skysparks</option>
        <option value="Cruise Control">Cruise Control</option>
        <option value="Impulse">Impulse</option>
        <option value="Hoverush">Hoverush</option>
        <option value="Multi Rover">Multi Rover</option>
        <option value="SocCon">SocCon</option>
        <option value="28 States">28 States</option>
        <option value="Eureka">Eureka</option>
        <option value="Strive">Strive</option>
        <option value="SoftKriti">SoftKriti</option>
        <option value="Battle City">Battle City</option>
        <option value="IOPC">IOPC</option>
        <option value="IHPC">IHPC</option>
        <option value="Chaos">Chaos</option>
        <option value="El Eduvate">El Eduvate</option>
        <option value="IORC">IORC</option>
        <option value="Scimatex">Scimatex</option>
        <option value="Radioactive">Radioactive</option>
        <option value="WhatsUp">WhatsUp</option>
        <option value="Messier Marathon">Messier Marathon</option>
        <option value="Planetarium">Planetarium</option>
        <option value="Astro Quiz">Astro Quiz</option>
      </select></td>
      <td id = "comment"></td></tr></table>
      <table id="sport">

      </table>
            <button type="button" class="btn btn-primary" id="submitbutton">Submit</button>
    </div>
</div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
           <script src="/js/toastr.min.js"></script>
    <script src="/js/eventregister.js"></script>
        <script type="text/javascript" src="js/selectize.js"></script>
    <script>
    $('#subject').selectize({create: true});
    </script> <script>
        var resizefunc = [];
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/assets/libs/jquery/jquery-1.11.1.min.js"></script>
    <script src="/assets/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/libs/jqueryui/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="/assets/libs/jquery-ui-touch/jquery.ui.touch-punch.min.js"></script>
    <script src="/assets/libs/jquery-detectmobile/detect.js"></script>
    <script src="/assets/libs/jquery-animate-numbers/jquery.animateNumbers.js"></script>
    <script src="/assets/libs/ios7-switch/ios7.switch.js"></script>
    <script src="/assets/libs/fastclick/fastclick.js"></script>
    <script src="/assets/libs/jquery-blockui/jquery.blockUI.js"></script>
    <script src="/assets/libs/bootstrap-bootbox/bootbox.min.js"></script>
    <script src="/assets/libs/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="/assets/libs/jquery-sparkline/jquery-sparkline.js"></script>
    <script src="/assets/libs/nifty-modal/js/classie.js"></script>
    <script src="/assets/libs/nifty-modal/js/modalEffects.js"></script>
    <script src="/assets/libs/sortable/sortable.min.js"></script>
    <script src="/assets/libs/bootstrap-fileinput/bootstrap.file-input.js"></script>
    <script src="/assets/libs/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="/assets/libs/bootstrap-select2/select2.min.js"></script>
    <script src="/assets/libs/magnific-popup/jquery.magnific-popup.min.js"></script> 
    <script src="/assets/libs/pace/pace.min.js"></script>
    <script src="/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/assets/libs/jquery-icheck/icheck.min.js"></script>

    <!-- Demo Specific JS Libraries -->
    <script src="/assets/libs/prettify/prettify.js"></script>

    <script src="/assets/js/init.js"></script>
    <script type="text/javascript">
$( "#user-info" ).click(function() {
$( this ).toggleClass( "open" );
}); 
    </script>

{{ else }}
Your Profile is incomplete. You cannot register for any event until you complete it
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/toastr.min.js"></script>
    <script type="text/javascript" src="js/selectize.min.js"></script>
     <script>
        var resizefunc = [];
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/assets/libs/jquery/jquery-1.11.1.min.js"></script>
    <script src="/assets/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/libs/jqueryui/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="/assets/libs/jquery-ui-touch/jquery.ui.touch-punch.min.js"></script>
    <script src="/assets/libs/jquery-detectmobile/detect.js"></script>
    <script src="/assets/libs/jquery-animate-numbers/jquery.animateNumbers.js"></script>
    <script src="/assets/libs/ios7-switch/ios7.switch.js"></script>
    <script src="/assets/libs/fastclick/fastclick.js"></script>
    <script src="/assets/libs/jquery-blockui/jquery.blockUI.js"></script>
    <script src="/assets/libs/bootstrap-bootbox/bootbox.min.js"></script>
    <script src="/assets/libs/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="/assets/libs/jquery-sparkline/jquery-sparkline.js"></script>
    <script src="/assets/libs/nifty-modal/js/classie.js"></script>
    <script src="/assets/libs/nifty-modal/js/modalEffects.js"></script>
    <script src="/assets/libs/sortable/sortable.min.js"></script>
    <script src="/assets/libs/bootstrap-fileinput/bootstrap.file-input.js"></script>
    <script src="/assets/libs/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="/assets/libs/bootstrap-select2/select2.min.js"></script>
    <script src="/assets/libs/magnific-popup/jquery.magnific-popup.min.js"></script> 
    <script src="/assets/libs/pace/pace.min.js"></script>
    <script src="/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/assets/libs/jquery-icheck/icheck.min.js"></script>

    <!-- Demo Specific JS Libraries -->
    <script src="/assets/libs/prettify/prettify.js"></script>

    <script src="/assets/js/init.js"></script>
    <script type="text/javascript">
$( "#user-info" ).click(function() {
$( this ).toggleClass( "open" );
}); 
    </script>


    {{ end }}
    <script >
       /* document.getElementById("subject").onchange = newDiv;
        function newDiv(e)
        {
            var sport=this.value;
            var div = document.createElement('div');
            div.id=sport;
            document.getElementById("members").appendChild(div);
            div.innerHTML = '<tr><td>Members</td><td><input type="text" id="members" class="demo-default" name="members"></td></tr>';
        }
        */
        $(function(){
  
  $('#subject').change(function(){
    $("#sport").empty();
    var memberno = 0;
    var comment = "";
    if($("#subject").val()=="Football(M)" || $("#subject").val()=="Cricket(M)" || $("#subject").val()=="Hockey(M)")
    {   
        memberno = 16;
        comment = "11 playing + 5 substitute";
    }
    else if($("#subject").val()=="Volleyball(M)" || $("#subject").val()=="Volleyball(W)")
    {   
        memberno = 12;
        comment = "6 playing + 6 substitute";
    }
    else if($("#subject").val()=="Basketball(M)" || $("#subject").val()=="Basketball(W)")
    {   
        memberno = 10;
        comment = "5 playing + 5 substitute";
    }
    else if($("#subject").val()=="Badminton(M)")
    {   
        memberno = 5;
        comment = "4 playing + 1 substitute";
    }
    else if($("#subject").val()=="Badminton(W)")
    {   
        memberno = 3;
        comment = "2 playing + 1 substitute";
    }
    else if($("#subject").val()=="TableTennis(M)")
    {   
        memberno = 4;
        comment = "4 playing";
    }
    else if($("#subject").val()=="TableTennis(W)")
    {   
        memberno = 4;
        comment = "3 playing + 1 substitute";
    }
    else if($("#subject").val()=="Tennis(M)")
    {   
        memberno = 4;
        comment = "3 playing + 1 substitute";
    }
    else if($("#subject").val()=="Tennis(W)")
    {   
        memberno = 3;
        comment = "2 playing + 1 substitute";
    }
    else if($("#subject").val()=="KhoKho(W)")
    {   
        memberno = 12;
        comment = "9 playing + 3 substitute";
    }
    else if($("#subject").val()=="Athletics(M)")
    {   
        memberno = 20;
        comment = "Refer to the Athletics Rules";
    }
    else if($("#subject").val()=="Athletics(W)")
    {   
        memberno = 20;
        comment = "Refer to the Athletics Rules";
    }
    else if($("#subject").val()=="Squash(M)")
    {   
        memberno = 4;
        comment = "3 playing + 1 substitute";
    }
    else if($("#subject").val()=="Squash(W)")
    {   
        memberno = 4;
        comment = "3 playing + 1 substitute";
    }
    else if($("#subject").val()=="Carrom")
    {   
        memberno = 2;
        comment = "2 playing";
    }
    else if($("#subject").val()=="Chess")
    {   
        memberno = 5;
        comment = "4 playing + 1 substitute";
    }
    else if($("#subject").val()=="Weightlifting(M)")
    {   
        memberno = 10
        comment = "Number of participants is not restricted";
    }
    else if($("#subject").val()=="Powerlifting(M)")
    {   
        memberno = 10;
        comment = "Number of participants is not restricted";
    }
    else if($("#subject").val()=="TaekWonDo")
    {   
        memberno = 5;
        comment = "Refer to the TaekWonDo Rules";
    }
    else if($("#subject").val()=="SportsQuiz")
    {   
        memberno = 4;
        comment = "";
    }

    $("#comment").html(comment) ;
    for(var i=0;i<memberno;i++)
    {
        /*var table = document.getElementById("mytable");
        var row = table.insertRow(i);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);*/
        //cell1.innerHTML = "NEW CELL1";
       // cell2.innerHTML = "NEW CELL2";
       if(i==0) {
        $('#sport').append('<tr><td width="150px">Captain</td><td><input type="text" id="members'+(i+1)+'" class="demo-default" name="members" required></td><td width="180px">Contact Number</td><td><input type="number" id="connum'+(i+1)+'" class="demo-default" name="connum" required></td> </tr>');

       }
       else if(i==1) {
        $('#sport').append('<tr><td width="150px">Vice Captain</td><td><input type="text" id="members'+(i+1)+'" class="demo-default" name="members" required></td><td width="180px">Contact Number</td><td><input type="number" id="connum'+(i+1)+'" class="demo-default" name="connum" required></td> </tr>');
       }
       else {
        $('#sport').append('<tr><td width="150px">Member '+(i+1)+'</td><td><input type="text" id="members'+(i+1)+'" class="demo-default" name="members"></td><td width="180px">Contact Number</td><td><input type="number" id="connum'+(i+1)+'" class="demo-default" name="connum"></td> </tr>');
    }
    }
    $("#members1").change(function(){
        if($('#members1').val().length != 0)
            flag1=1;
        else
            flag1=0;
    });
    $("#members2").change(function(){
        if($('#members2').val().length != 0)
            flag2=1;
        else
            flag2=0;
    });
    $("#connum1").change(function(){
        if($('#connum1').val().length == 10 ||$('#connum1').val().length == 11 )
            flag3=1;
        else
            flag3=0;
    });
    $("#connum2").change(function(){
        if($('#connum2').val().length == 10 || $('#connum2').val().length == 11)
            flag4=1;
        else
            flag4=0;
    });
    
  });
});

        </script>

</body>

</html>
