<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Techkriti - ">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Techkriti</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="/css/bootstrap.css" rel="stylesheet"> -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">
    <link href="/css/flat-ui.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
       <div class="container-fluid">
        <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">&nbsp;Techkriti</a>
            </div>
            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/app">Dashboard</a>
                    </li>
                    <li><a href="/register_event">Register for an event</a>
                    </li>
                    <li  class="active"><a href="/showteam">Your Teams</a>
                    </li>
                    <li><a href="/profile">Profile</a>
                    </li>
                    <li><a id="login-button" href="/user/logout">
                            <button type="button" class="btn btn-primary">Logout</button>
                        </a></li>
                </ul>
            </div>
    </div>
    </div>
    <div >
        <h1 class="page-header">
            Your Teams
        </h1>
        <div >
            <table id = "teams" style="border: 1px solid #000" border="1" align="center">
  
</table>
        </div>
    </div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/showteam.js"></script>
</body>

</html>
